h1 {
    font-size: 10rem;
    color: red;
 /* This is a JS comment */
    /* This is a JS comment on a new line */
    /* And this is a CSS comment */
    /* This is a JS variable definition */
    --coolThing: 5rem;
    --otherCoolThing: 6rem;
    --defaultColor: purple;
    /* This is a CSS variable definition */
    --CSScoolThing: 3rem;
    /* This is a JS comment */
    color: orange !important;
    /* This is a JS comment */
    margin: 3rem;
    background-color: var(--defaultColor, orange);
}

h1::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(green, orange);
    /* Parameters are still modified if they are in comments: anotherParameter */;
}



/* For loop */
.element-10 {
    transform: translate(calc(-10 * 10px), calc(-10 * 10px));
}

.element-9 {
    transform: translate(calc(-9 * 10px), 0);
}

.element-8 {
    transform: translate(0, calc(-8 * 10px));
}

.element-7 {
    transform: translate(0, calc(-7 * 10px));
}

.element-6 {
    transform: translate(calc(-6 * 10px), 0);
}

.element-5 {
    transform: translate(calc(-5 * 10px), calc(-5 * 10px));
}

.element-4 {
    transform: translate(0, calc(-4 * 10px));
}

.element-3 {
    transform: translate(calc(-3 * 10px), 0);
}

.element-2 {
    transform: translate(0, calc(-2 * 10px));
}

.element-1 {
    transform: translate(0, calc(-1 * 10px));
}

.element0 {
    transform: translate(calc(0 * 10px), 0);
}

.element1 {
    transform: translate(0, calc(1 * 10px));
}

.element2 {
    transform: translate(0, calc(2 * 10px));
}

.element3 {
    transform: translate(calc(3 * 10px), 0);
}

.element4 {
    transform: translate(0, calc(4 * 10px));
}

.element5 {
    transform: translate(calc(5 * 10px), calc(5 * 10px));
}

.element6 {
    transform: translate(calc(6 * 10px), 0);
}

.element7 {
    transform: translate(0, calc(7 * 10px));
}

.element8 {
    transform: translate(0, calc(8 * 10px));
}

.element9 {
    transform: translate(calc(9 * 10px), 0);
}